.about-card{

    background: linear-gradient(90deg, #160042,#753a88);
    padding: 20px;
    border-radius: 20px;
}

.vdo-style{

    max-width: 600px!important;
    max-height: 300px;
}

@media(max-width: 991.5px) {
    .vdo-style {
       width: 400px;
       
    }
}