.left-col{

    background: linear-gradient(to right, #160042, #753a88);
    height: 350px;
    padding: 20px;
    border-radius: 20px;
}

.home-topbar{

    margin-top: 80px;
}
.home-btns{

    margin-top: 70px;
}


 .categories-img{

    width: 130px;
    height: 130px;
 }

 category-name{

    font-size: 2rem;
 }

 .developers-img{

    width: 100px;
    height: 100px;
 }

 .pro-img{

    width: 150px;
    height: 150px;
 }
  .tech-img{

   width: 230px;
   height: 230px;

  }

  .fafa{

  background-image: linear-gradient(135deg,#cc2b5e,#753a88)!important;
   font-size: 90px!important;
  color: transparent;
  background-clip: text;
  
  }

  @media(max-width: 991.5px){

   .fafa{

      font-size: 70px!important;
   }

   .tech-img
   {
          width: 200px;
          height: 200px;

   }
  }
  
 